* {
  margin: 0;
  padding: 0; }
  
body {
  background: url('./img/drums.png') center center / cover no-repeat;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center; 
  justify-content: center;
  height: 100vh; 
  background-color: #333; }
  
/* <buttons> */
.key {
  color: white;
  font-family: arial;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 3px;
  width: 60px;
  height: 60px;
  background-color: rgba(125,125,25,0.8);
  border: 2px solid black;
  border-radius: 5px;
 }
  
.playing {
  color: yellow;
  transform: scale(1.08);
  box-shadow: 0 0 2px 2px yellow; }  
  
.letter {
  margin: 2px; }

.label {
  color: yellow;
  font-weight: bold;
  letter-spacing: 1.5px;
  font-size: 9px;
  font-family: arial; }