* {
  margin: 0;
  padding: 0; }
  
body {
  height: 100vh; } 
  
.panels {
  height: 100%;
  display: flex;
  overflow: hidden; }
  
.panel {
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  font-size: calc(12px + 2vw);
  text-shadow:0 0 2px rgba(0, 0, 0, 1), 0 0 10px rgba(0, 0, 0, 0.75); 
  box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  height: 100%;
  transition: flex 400ms cubic-bezier(0.61,-0.19, 0.7,-0.11); }
  
.panel1{ background: url(./img/panel1.jpeg) center center / cover no-repeat; }
.panel2{ background: url(./img/panel2.jpeg) center center / cover no-repeat; }
.panel3{ background: url(./img/panel3.jpeg) center center / cover no-repeat; }
.panel4{ background: url(./img/panel4.jpeg) center center / cover no-repeat; }
.panel5{ background: url(./img/panel5.jpeg) center center / cover no-repeat; }

.panel > * {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
  transition:
    transform 300ms ease-out 500ms,
    opacity 300ms ease-out 500ms; }
  
.panel > *:nth-child(2) {
  font-size: calc(14px + 4vw); }  
 
.panel > *:first-child { 
  transform: translateY(-75%);
  opacity: 0; }
    
.panel > *:last-child  { 
  transform: translateY(75%);
  opacity: 0; }  
 
.panel.active > * { 
  transform: translateY(0%);
  opacity: 1; }

.open { 
  flex: 5; }

  
  